################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Link Shortener/Link Shortener.csproj
/Link Shortener/Link Shortener.csproj
